{
"username": "ShittyUsername",
"password": "ShittyPassword",
"email": "ShittyEmail@ShitWebsite.com"
"hoursBetweenAttacks": "0.75"
"hoursBetweenAttacksIfMaxLooted": "0.25"
"hoursBetweenFarmingRuns": "0.20"
}